.grid-container {
	display:grid;
	grid-template-columns: 680px auto;
}

.container-frutas{
	display: flex;
	background-color: brown;
	margin-top: 10px;
	border: 2px solid black;
	flex-wrap: wrap;
	max-width: 650px;
}

.fruta{
	margin:2px;
	padding: 2px;
	width: 100px;
	height: 100px;
}

.cesta-compra{
	border: 2px solid black;
	margin-top:10px;
	width: 600px;
	height: 400px;
}
.boton{
	background-color: #008CBA;
	color:white;
	font-size: 20px;
	border-radius: 4px;
	margin: 4px 2px;
  	cursor: pointer;
}
